*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins", sans-serif;
}

body{
background:#f1f5f9;
color:#0f172a;
min-height:100vh;
}

/* HEADER */
.topbar{
padding:18px 20px;
background: linear-gradient(90deg,#1e3a8a,#38bdf8);
color:white;
display:flex;
align-items:center;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.logo{
font-size:20px;
font-weight:800;
display:flex;
align-items:center;
gap:10px;
}

/* CONTAINER */
.container{
display:grid;
grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
gap:20px;
padding:25px;
}

/* CARD */
.card{
background:white;
border-radius:18px;
padding:18px;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
transition:0.3s;
position:relative;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

/* ICON */
.icon{
width:50px;
height:50px;
background:linear-gradient(135deg,#38bdf8,#3b82f6);
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:12px;
margin-bottom:10px;
}

/* INFO */
.info h3{
font-size:18px;
font-weight:700;
}

.info p{
font-size:13px;
color:#64748b;
margin-top:3px;
}

/* BUTTON */
button{
margin-top:12px;
padding:8px 12px;
border:none;
background:#ef4444;
color:white;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#dc2626;
}

/* MODAL */
.modal{
position:fixed;
inset:0;
background:rgba(0,0,0,0.5);
display:none;
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:20px;
border-radius:15px;
width:300px;
position:relative;
}

.close{
position:absolute;
top:10px;
right:15px;
font-size:22px;
cursor:pointer;
}